/*
 *Name: [Wesley Boyce]
 *UnityID: [wjboyce2]
 *Date: [09/19/24]
 *Assignment: [Guided lab 4]
 *Description: [About me webpage]
 */
 
p {
    font-family: Times;
    font-size: 16px
    c
}

.class {
    property: value;
}

#id {
    property:value;
}
